<div class="main-container">
  <mat-card class="add-film-card">
    <mat-card-header>
      <mat-card-title>Add new film</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <form *ngIf="genres | async; else loading" [formGroup]="addForm" (ngSubmit)="onSubmit()"> -->
      <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Film title" formControlName="title" name="title" required>
                <mat-error *ngIf="addForm.controls.title.errors?.required">Title is required</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-selection-list formControlName="genres">
                <mat-list-option *ngFor="let g of genres | async; let i = index" [value]="g.id">
                  {{g.title}}
                </mat-list-option>
              </mat-selection-list>
            </td>
          </tr>
        </table>
        <button mat-raised-button color="primary" type="submit" class="button">Add</button>
      </form>
      <!-- <ng-template #loading>
        Loading genres...
      </ng-template> -->
    </mat-card-content>
  </mat-card>
</div>